.container-banner {
  position: relative;

  .container-img {
    img {
      width: 100%;
    }
  }

  h1 {
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: bolder;
    margin-right: 40px;
    font-size: 20px;
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translate(0, -50%);

    @media screen and (min-width: 540px) {
      margin-right: 50px;
      font-size: 40px;
    }

    @media screen and (min-width: 768px) {
      margin-right: 100px;
      font-size: 60px;
    }

    @media screen and (min-width: 991px) {
      margin-right: 150px;
      font-size: 60px;
    }
  }
}
