.container-header {
    display: flex;
    padding: 15px 0;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 650px) {
      flex-direction: row;
      justify-content: space-between;
    }

    .logo {
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bolder;
      color: #00AB61;
      font-size: 25px;
    }

    button {
      background-color: #00AB61;
      width: 200px;
      height: 40px;
      border: none;
      border-radius: 5px;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bolder;
        color: white;
        width: 100%;
        height: 100%;
      }
    }
}
