.container-modal {
  .modal-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .btn-close {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }

  .container-input {
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: relative;

    .container-item {
      display: flex;
      flex-direction: column;
      gap: 10px;

    }

    .cross-category {
      font-size: 35px;
      cursor: pointer;
      position: absolute;
      top: -20px;
      right: 0px;
    }

    .cross-promotion {
      font-size: 35px;
      cursor: pointer;
      position: absolute;
      top: -40px;
      right: 0;
    }

  }

  .container-input-add-category, .container-input-add-promotion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .container-form-product {
    display: flex;
    flex-direction: column;

    .container-input-product {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}
